* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: 'Arial', sans-serif;
    line-height: 1.6;
    background-color: #f4f4f4;
    color: #333;
  }
  
  header {
    background: #3f0909;
    color: white;
    text-align: center;
    padding: 100px 0;
  }
  
  .hero-content h1 {
    font-size: 3rem;
    margin-bottom: 10px;
  }
  
  .hero-content p {
    font-size: 1.2rem;
    margin-bottom: 20px;
  }
  
  .cta-btn {
    background: #fff;
    color: #3498db;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-weight: bold;
    transition: background 0.3s;
  }
  
  .cta-btn:hover {
    background: #3498db;
    color: #fff;
  }
  
  section {
    padding: 60px 20px;
    text-align: center;
  }
  
  #about-me p {
    max-width: 800px;
    margin: 0 auto;
    font-size: 1.1rem;
  }
  
  .project-list {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
  }
  
  .project-card {
    background: #fff;
    padding: 20px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 600px;
    text-align: center;
  }
  
  #contact a {
    font-size: 1.2rem;
  }
  
  footer {
    background-color: #421313;
    color: white;
    text-align: center;
    padding: 20px 0;
  }

  img {
    object-fit: contain;
    margin: auto;
  }
  @media (max-width: 768px) {
    .project-list {
      flex-direction: column;
      align-items: center;
    }
  }
  